openapi: 3.0.1
info:
  title: Bio SDK Service
  version: 1.0.0
tags:
  - name : config-help
    description: usefull for configuring the server through endpoints if needed
  - name: images-dir
    description: Related directly or inderictly to the imagesDir property of SDKCore
  - name: cbor-dir
    description: Related directly or inderictly to the cborDir property of SDKCore
  - name: fingerprint-core
    description: Related to the core fingerprint related functionalities offered by the SDKCore
  - name : triggers-a-go-routine
    description: indicates that a go routine will be started within the orchestration server to run a process seperate from the normal http request response cycle
  - name : for-idp
    description: indicates that these endpoints are to be called by an idp. For now either the WSO2 IS or Asgardeo is expected
paths:
  /api/gallery/get-images-dir:
    get:
      summary: get the current configured images directory
      operationId: getImagesDir
      description: images directory property within the SDKCore is returned
      tags:
        - images-dir
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/get-cbor-dir:
    get:
      summary: get the current configured cbor directory
      operationId: getCborDir
      description: cbor directory property within the SDKCore is returned
      tags:
        - cbor-dir
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/update-images-dir:
    post:
      summary: to update the current images dir
      operationId: updateImagesDir
      description: does a validation check on the provided path and if valid sets the images directory property of the SDKCore
      tags:
        - images-dir
        - config-help
      requestBody:
        description: Contains the new path for the images dir
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.updateImagesDirReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/update-cbor-dir:
    post:
      summary: to update the current cbor dir
      operationId: updateCborDir
      description: does a validation check on the provided path and if valid sets the cbor directory property of the SDKCore
      tags:
        - cbor-dir
        - config-help
      requestBody:
        description: Contains the new path for the cbor dir
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.updateCborDirReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/load-images:
    get:
      summary: to trigger the load images feature
      operationId: loadImages
      description: this triggers the SDKCore LoadImages() method , to run on a go routine, which load up images from the currently configured images dir , extract templates and append them to the SDKCore gallery
      tags:
        - images-dir
        - triggers-a-go-routine
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/load-cbor-files:
    get:
      summary: to trigger load cbor files feature
      operationId: loadCbor
      description: this triggers the SDKCore LoadCborfiles() method , to run on a go routine, which will get templates stored in cbor format in the current cbor dir 
      tags:
        - cbor-dir
        - triggers-a-go-routine
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []                
  /api/gallery/save-gallery:
    get:
      summary: to trigger the save gallery feature
      operationId: savegallery
      description: this triggers the SDKCore SaveGallery method, to run on a go routine, which will convert the templates stored in the gallery to cbor format and save as cbor extension files with filename being the id associated with the template, inside of the cbor dir
      tags:
        - cbor-dir
        - triggers-a-go-routine
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/gallery/upload-cbor-zip:
    post:
      summary: used to upload a zip file containing cbor format templates
      operationId: uploadCborZip
      description: using multipart format zip file can be uploaded, once uploaded it will be unzipped and the zip will be deleted. Successful response contains success message along with file path to unzipped folder. 
      tags:
      - cbor-dir
      - config-help
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []

  /api/fingerprint:
    get:
      summary: get a status message about fingerprint SDKCore
      operationId: fingerprintStatus
      description: there is a SDKCore GetStatus() method and this will give a string containing some important information about the current sdk instance and the way its configured
      tags:
        - config-help
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []                
  /api/fingerprint/match:
    post:
      summary: to run the match process between two templates
      operationId: fingerprintTemplatesMatch
      description: utilizes the SDKCore Match to compare two provide templates, provided as encoded cbor byte arrays within the request body, and respond with whether they match or not
      tags:
        - fingerprint-core
      requestBody:
        description: Contains the cbor data of probe template and candidate template, which are fingerprint templates
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.matchTemplatesReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string              
      deprecated: false
      security: []
  /api/fingerprint/identify:
    post:
      summary: to identify a template in a 1 to n manner
      operationId: fingerprintTemplateIdentify
      description: utilizes SDKCore Identify() to identify the template provided as an encoded cbor data byte array in the request body, from the templates recorded in the SDKCore Gallery. Responds with whether match was found or not and the discovered id of the matching template
      tags:
        - fingerprint-core
      requestBody:
        description: Contains the cbor data encoded byte array of the probe template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.identifyTemplateReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []                   
  /api/fingerprint/enroll:
    post:
      summary: to enroll a new fingerprint template
      operationId: fingerprintTemplateEnroll
      description: given a cbor type of data in request body along with the relevant id in the request body, it will parse the cbor data, get the template and append it to the gallery after running duplication check
      tags:
        - fingerprint-core
      requestBody:
        description: Contains the cbor data and the id
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.enrollTemplateReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
  /api/fingerping/authorize:
    post:
      summary: to act as the authenticate endpoint for the idp 
      operationId: fingerprintTemplateAuthorize
      description: is to utilize the identify functionality of the SDK Core and return a response that the idp would expect 
      tags:
        - for-idp
      requestBody:
        description: Contains data in the form that the idp provides
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.authorizeReqObj'
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                type: string
      deprecated: false
      security: []
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://test.com
          scopes: 
            read:books: Grants read access
  schemas:
    models.updateImagesDirReqObj:
      type: object
      properties:
        pathstring:
          type: string
          example: /app/imagesdir/
    models.updateCborDirReqObj:
      type: object
      properties:
        pathstring:
          type: string
          example: /app/cbordir/
    models.matchTemplatesReqObj:
      type: object
      properties:
        probecbor:
          type: string
          format: byte
          example: pGVXaWR0aBkBLGZIZWlnaHQZASxoTWludXRpYWWYGaRhWBiMYVkY6GlEaXJlY3Rpb277PMLbXlqTahhVAGkYVgYf2FZGPFpRGlyZWN0aW9u+z/=
        candidatecbor:
          type: string
          format: byte
          example: pGVXaWR0aBkBLGZIZWlnaHQZASxoTWludXRpYWWYGaRhWBiMYVkY6GlEaXJlY3Rpb277PMLbXlqTahhVAGkYVgYf2FZGPFpRGlyZWN0aW9u+z/=        
    models.identifyTemplateReqObj:
      type: object
      properties:
          probecbor:
            type: string
            format: byte
            example: pGVXaWR0aBkBLGZIZWlnaHQZASxoTWludXRpYWWYGaRhWBiMYVkY6GlEaXJlY3Rpb277PMLbXlqTahhVAGkYVgYf2FZGPFpRGlyZWN0aW9u+z/=      
    models.enrollTemplateReqObj:
      type: object
      properties:
        data:
          type: string
          format: byte
          example: pGVXaWR0aBkBLGZIZWlnaHQZASxoTWludXRpYWWYGaRhWBiMYVkY6GlEaXJlY3Rpb277PMLbXlqTahhVAGkYVgYf2FZGPFpRGlyZWN0aW9u+z/=
        id:
          type: string
          example: testuser1
    models.authorizeReqObj:
      type: object
      properties:
        actionType:
          type: string
          example: AUTHENTICATION
        flowId:
          type: string
          example: 22598aab-b038-41db-9ef7-68bacd243947
        event:
          type: object
          properties:
            request:
              type: object
              properties:
                additionalParams:
                  type: array
                  items: 
                    type: object
                    properties:
                      name:
                        type: string
                        example: biometric-template
                      value:
                        type: array
                        items:
                          type: string
                          example: 1234556777
            tenant:
              type: object
              properties:
                id:
                  type: string
                  example: "-1234"
                name:
                  type: string
                  example: carbon.super
            application:
              type: object
              properties:
                id:
                  type: string
                  example: 874ecef7-4d29-45b9-b04d-988c043d2de4
                name:
                  type: string
                  example: fingerprint-client
            currentStepIndex:
              type: integer
              format: int32 
              example: 1
        allowedOperations:
          type: array
          items:
            type: object
            properties:
              op:
                type: string
                example: redirect
